@charset "UTF-8";

@font-face {
    font-family: 'iconfont'; /* project id 832872 */
    src: url("//at.alicdn.com/t/font_832872_70g7lgiovvd.eot");
    src: url("//at.alicdn.com/t/font_832872_70g7lgiovvd.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_832872_70g7lgiovvd.woff2") format("woff2"), url("//at.alicdn.com/t/font_832872_70g7lgiovvd.woff") format("woff"), url("//at.alicdn.com/t/font_832872_70g7lgiovvd.ttf") format("truetype"), url("//at.alicdn.com/t/font_832872_70g7lgiovvd.svg#iconfont") format("svg");
}

/* https://zhuanlan.zhihu.com/p/39476410 */
html, body, #app {
    height: 100%;
}

body {
    position: relative;
}

.marginL15 {
    margin-left: 15px;
}

.marginL30 {
    margin-left: 30px;
}

.marginR15 {
    margin-right: 15px;
}

.margin4 {
    margin: 4px;
}

.margin8 {
    margin: 8px;
}

.margin16 {
    margin: 16px;
}

.marginB16 {
    margin-bottom: 16px;
}

.padding16 {
    padding: 16px;
}

.marginR8 {
    margin-right: 8px;
}

.marginR16 {
    margin-right: 16px;
}

.marginL8 {
    margin-left: 8px;
}

.marginT15 {
    margin-top: 15px;
}

.marginB15 {
    margin-bottom: 15px;
}

.paddingT3 {
    padding-top: 3px;
}

.padding8 {
    padding: 8px;
}

.width360 {
    width: 360px;
}

.fr {
    float: right;
}

.gh-card-title {
    line-height: 32px;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.height1px {
    height: 1px;
}

.flex {
    display: flex;

    &1 {
        flex: 1;
    }

    &2 {
        flex: 2;
    }

    &3 {
        flex: 3;
    }

    &4 {
        flex: 4;
    }

    &5 {
        flex: 5;
    }

    &.vertical {
        flex-flow: column nowrap;
    }

    &.like-float {
        flex-flow: row wrap;

        .el-button + .el-button {
            margin-left: 0;
        }
    }

    &.between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.middle {
        align-items: center;
    }
}

.gutter16 {
    height: 16px;
}

.grid {
    display: grid;

    &.col1 {
        grid-template-columns: repeat(1, 1fr);
    }

    &.col2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.col3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.col4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.col5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.col11 {
        grid-template-columns: 1fr 1fr;
    }

    &.col12 {
        grid-template-columns: 1fr 2fr;
    }

    &.col211 {
        grid-template-columns: 2fr 1fr 1fr;
    }

    &.row45 {
        grid-template-rows: 4fr 5fr;
    }

    &.gap16 {
        grid-row-gap: 16px;
        grid-column-gap: 16px;
    }
}

.gap16 {
    grid-row-gap: 16px; //上下
    grid-column-gap: 16px; //左右
}

.gridcol1 {
    grid-template-columns: repeat(1, 1fr);
}

.gridcol2 {
    grid-template-columns: repeat(2, 1fr);
}

.gridcol3 {
    grid-template-columns: repeat(3, 1fr);
}

.gridcol4 {
    grid-template-columns: repeat(4, 1fr);
}

.gridcol5 {
    grid-template-columns: repeat(5, 1fr);
}

.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

.hover-grab {
    &:hover {
        cursor: grab;
    }
}

.hover-scale1 {
    &:hover {
        transform: scale(1.1);
    }
}

/* message-box tips 说明 左边框蓝色 */
.explain-tips {
    padding: 8px 16px;
    background-color: #ecf8ff;
    border-radius: 4px;
    border-left: 5px solid #50bfff;
    margin: 20px 0;

    > .p {
        font-size: 14px;
        color: #5e6d82;
        line-height: 1.5em;
    }
}

.color-red {
    color: red;
}

.custom-tooltip-wrapper {
    span {
        font-size: 14px;
    }

    .custom-tooltip-marker {
        display: inline-block;
        margin-right: 5px;
        border-radius: 10px;
        width: 10px;
        height: 10px;
    }

    z-index: 2;
    position: absolute;
    white-space: nowrap;
    transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 5px;
    pointer-events: none;
}

.card-type1 {
    display: flex;
    flex-flow: column nowrap;

    > .title {
        padding: 0 16px;
    }

    > .body {
        flex: 1;
    }
}

.el-card.body-flex1 {
    display: flex;
    flex-flow: column nowrap;

    > .el-card__body {
        flex: 1;
    }
}

.wrapper {
    padding: 4px;
}

/* shadow */
.elevation0 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.elevation1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.elevation2 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.elevation3 {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.elevation4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.elevation5 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.elevation6 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.elevation7 {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.elevation8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.elevation9 {
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.elevation10 {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.elevation11 {
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.elevation12 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.elevation13 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.elevation14 {
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.elevation15 {
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.elevation16 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.elevation17 {
    box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.elevation18 {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.elevation19 {
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.elevation20 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.elevation21 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.elevation22 {
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.elevation23 {
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.elevation24 {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
